@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root,
:root[data-theme="dark"] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292e;
  --border-color: #28292e;

  --title-color: #F0F0F0;
  --link-color: #9a9a9c;
  --text-color: #9a9a9c;
  --icon-color: #c7c8c9;
}
:root[data-theme="light"] {
  --primary-color: #0b0b0b0f;

  --primary-bg-color: #e9e9e9;
  --secondary-bg-color: #c7c8c9;
  --border-color: #c7c8c9;

  --title-color: #0b0b0b0f;
  --link-color: #28292e;
  --text-color: #28292e;
  --icon-color: #56575a;
}
html[data-theme="light"] .brand__logo {
  filter: invert(1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}
body {
  background: var(--primary-bg-color);
  font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
b{
 font-weight: 400;
}
h1{
  font-size: 2.5rem;
  font-weight: 200;
}
h1,
h2,
h3 {
  margin-top: 3vh;
  font-family: "League Spartan", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 300;
}
p{
  font-size: 1.15rem;
  text-align: justify;
}
footer {
  text-align: center;
  font-size: 0.75rem;
  color: var(--text-color);
  padding: 1rem;
  background: var(--primary-bg-color);
}
footer a {
  color: var(--primary-color);
  font-weight: 600;
}
footer p {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 5rem;
}
i {
  color: var(--icon-color);
}
.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}
.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-color);
}
.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600;
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}
.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.menu--principal {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
}

.header__nav {
  display: none;
}

.nav--mobile {
  display: flex;
}
main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1rem;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius:  3.125rem;
  padding: 0.875rem 1rem;
  
}
.main_content1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn span, .btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}
.btn--primary span{
  color: var(--primary-color);
}
.btn--primary {
  margin-bottom: 8vh;
border: 1px solid var(--primary-color);
}
.menu--social {
  gap: 1rem;
}

.habilidades{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 3.25rem 1rem  2rem   ;
background: var(--secondary-bg-color);
margin-top: -5.5rem;
}
.habilidades h2{
  text-decoration: none ;
}
@media (min-width: 768px) {
  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header {
    border-bottom: 1px solid var(--border-color);
    padding: 1rem 3rem;
    background: var(--primary-bg-color);
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 1rem 15rem;
  }
}
p {
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}
